#AvatarImage {
  margin-top: 10px;
  padding-bottom: 10px;
    height: 66px;
    width: 66px;
}

.dashboard-conatiner {
  background: white;

    margin-left: 20px;
}

.dashboard-conatiner p{
    color: #262626 !important;
}

#delete {
    float: right;
}

.theater-rewards{
    padding: 0px !important;
}
