/*.vip-logo {*/
    /*height: 45px;*/
    /*background: transparent url(../img/logo-fandango-vip.png) no-repeat 0 0*/
    /*background-size: 250px;*/
/*}*/

/*.page-navigation-list{*/
    /*padding-left: 25px;*/
/*}*/

.vip-logo{
    background-size: 250px;
    height:45px;
    margin-top: 10px;
    margin-left: 30px;
}

.page-navigation-list{

    margin-left: 30px;
}