body {
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
}

.font-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

#brand-bar {
    height: 32px;
    background-color: #000;
    color: #FFF !important;
    line-height: 32px;
    font-size: 14px !important;
}

#brand-bar a {
    color: #CCC;
}

.fandango-container {
    width: 1280px;
    height: inherit;
    margin: auto;
}

/*Adding CSS for Large-Dropdown*/

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
}

.navbar .dropdown-menu {
    border: none;
    background-color: #424141 !important;
    margin-top: 20px;
}

.background-fandango {
    background-color: #424141 !important;
    height: 66px;
    border-bottom: 2px solid #FD7D15;
    color: white !important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding: .5rem .5rem;
        margin: 0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {
        position: static;
    }

    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 45px;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display: block !important;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, .15);
        background-color: #fff;
    }

}

.megaDropDown-brand {
    width: 242px;
    height: 56px;
    padding: 5px;
}

.navbar-nav>li>a:after {
    display: inline-block;
    margin-left: 3px;
    border-top: 11px solid #f15500;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: "";
    vertical-align: middle;
    padding-bottom: 3px;
}
