body {
    background-color: #F0F0F0;
}

#brand-bar {
    height: 32px;
    background-color: #000;
    color: #FFF;
    line-height: 32px;
}

.right{
    float: right;
}

.fandango-container{
    width: 1280px;
}